<main>
  <article>

    <!-- 
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">
        <h2 class="section-title headline-md text-center" id="portfolio-label">My Services</h2>

        

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">Data Analysis</h3>

                <p class="body-sm">
                  Extract actionable insights from complex datasets using advanced analysis techniques, visualization tools like Power BI, and robust data pipelines.

                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">Machine Learning</h3>

                <p class="body-sm">
                  Design and develop machine learning models to solve real-world problems, from face recognition systems to predictive analytics, with high accuracy and efficiency.

                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">Natural Language Processing</h3>

                <p class="body-sm">
                  Harness NLP to process and analyze text data, implement sentence similarity models, and build applications that understand and generate human language.

                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">Data Engineering</h3>

                <p class="body-sm">
                  Implement end-to-end data workflows, including ETL processes, data warehouse creation, and real-time data analysis with tools like Elastic Stack.

                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">Deep Learning</h3>

                <p class="body-sm">
                  Create interactive dashboards and BI solutions tailored to organizational needs, enabling data-driven decisions for various industries.

                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
              </div>

              <div>
                <h3 class="card-title title-sm">AI Research & Development</h3>

                <p class="body-sm">
                  Conduct cutting-edge AI research and develop innovative solutions, leveraging expertise in algorithms, deep learning, and advanced data processing techniques.

                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>