
<main>
  <article>

    <!-- 
      - #PORTFOLIO
    -->

    <section class="section portfolio testi" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Certifications</h2>

        

        <ul id="portfolio-list" class="portfolio-list slider" (mouseover)="pauseScroll()"
            (mouseleave)="resumeScroll()" >

              <li *ngFor="let item of portfolioData">
                <div class="portfolio-card">
                  <div class="card-banner img-holder" style="width: 800; height: 540;">
                    <img [src]="item.image" [alt]="item.title" width="800" height="540" loading="lazy"
                       class="img-cover">
                    <a href="#" class="btn-icon" aria-label="">
                    </a>
                  </div>
                  <div class="card-content">
                    <span class="chip label-md">{{ item.date }}</span>
                    <h3 class="title-md">{{ item.title }}</h3>
                    <a [href]="item.url" class="btn btn-primary">View Certification</a>
                  </div>
                </div>
              </li>

        </ul>
        <ul>

          <li>
            <div class="about">
              <h2 class="section-title headline-md text-center" id="portfolio-label">About Me</h2>
              
              <!-- Animation d'apparition des détails -->
              <div class="details" *ngFor="let detail of details">
                <!-- Utilisation du sous-composant 'app-detail' -->
                <app-detail 
                  [detail]="detail">
                </app-detail>
              </div>
            </div>
          </li>

        </ul>

        

      </div>
    </section>

  </article>
</main>