body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-weight: bold;
}
/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
